@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
    themes: cupcake --default, cupcake --prefersdark;
}
:root {
    --background: #eff6ff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #eff6ff;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
